

form {
  margin-top: 20px;
}

select {
  width: 300px;
 
}

#parent:hover #child {
  visibility: visible;

}
.move-left:hover{

  transition: all .5s;
  transform : translateX(-10px);
}

.dropdown:hover .dropdown-menu {
  display: block;
}




@media (max-width: 1450px) {
  .container .carousel-items {
    animation: carouselAnim 10s infinite alternate ease-in-out;

  }
  @keyframes carouselAnim  {
    0% { transform: translateX(0); }
    25% { transform: translateX(-300px); }
    50% { transform: translateX(-600px); }
    75% { transform: translateX(-900px); }
    100% { transform: translateX(-1300px); }
  }
  

}


