

form {
  margin-top: 20px;
}

select {
  width: 300px;
}

#parent:hover #child {

  animation: myship 2s ;

  animation-fill-mode: forwards;
}
.move-left:hover{

  transition: all .5s;
  transform : translateX(-10px);
}

@keyframes myship {
  from {
    right: -10em;
  }

  to {
    right: 0;
  }
}