
<div class="container mx-auto flex items-center flex-wrap pt-4 pb-12 mt-30  ">



    <a href="#" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"*ngFor="let item of items" >
      <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="{{item.images}}">
      <div class="flex flex-col justify-between p-4 leading-normal">
          <h5 class="mb-2 text-2xl font-bold text-right tracking-tight text-gray-900 dark:text-white">{{item.title}}</h5>
          <p *ngFor="let des of item.descroption" class="text-right font-normal text-gray-700 dark:text-gray-400">{{des}}</p>
          <p class=" text-right text-2xl">قیمت:{{item.price}}</p>
      </div>
  </a>
  
  
    </div>
