<div class="md:flex items-start justify-center py-12 2xl:px-20 md:px-6 px-4">
    <div class="xl:w-2/6 lg:w-2/5 w-80 md:block hidden">
        <img class="w-full h-[38em]" alt="image of a girl posing" src="{{selectedImage}}" />
       <div class="flex w-full justify-center  h-48"><img *ngFor="let pic of select.images let i=index " class="w-20 h-28"  src="{{select.images[i]}}"  [ngClass]="{'bgbtn':i=== currentIndex}" (click)="showImg(i)"    class="mt-6 m-1 " alt="image of a girl posing" src="{{pic}}" /></div> 
    </div>
    <div class="md:hidden">
        <img class="w-full h-[30em] " alt="image of a girl posing" src="{{selectedImage}}" />
        <div class="flex w-full h-48 felex-wrap justify-between mt-3 space-x-4 md:space-x-0"  >
            <img *ngFor="let pic of select.images let i=index " class="w-20 h-28"  src="{{select.images[i]}}"  [ngClass]="{'bgbtn':i=== currentIndex}" (click)="showImg(i)"/>
           
        </div>
    </div>
    <div class="xl:w-2/5 md:w-1/2 lg:ml-8 md:ml-6 md:mt-0 mt-6">
        <div class="border-b border-gray-200 pb-6">
            <h1 class="lg:text-2xl text-xl font-semibold lg:leading-6 leading-7 text-gray-800 mt-2 text-right">{{select.title}}</h1>
        </div>
        <div class="py-4 border-b border-gray-200 flex items-center justify-between">
            <p class="text-base leading-4 text-gray-800 ">رنگ ها</p>
            <div class="flex items-center justify-center">
                <p class="text-sm leading-none text-gray-600"></p>
                <div class="w-6 h-6 bg-gradient-to-b from-gray-900 to-indigo-500 ml-3 mr-4 cursor-pointer"></div>
                <svg class="cursor-pointer" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L1 9" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <div class="py-4 border-b border-gray-200 flex items-center justify-between">
            <p class="text-base leading-4 text-gray-800">سایز</p>
            <div class="flex items-center justify-center">
                <p class="text-sm leading-none text-gray-600 mr-3">38.2</p>
                <svg class="cursor-pointer" width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L5 5L1 9" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </div>
        <button (click)="addShoppingCart()" class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-base flex items-center justify-center leading-none text-white bg-gray-800 w-full py-4 hover:bg-gray-700 focus:outline-none">
            <svg class="mr-3" width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.02301 7.18999C7.48929 6.72386 7.80685 6.12992 7.93555 5.48329C8.06425 4.83666 7.9983 4.16638 7.74604 3.55724C7.49377 2.94809 7.06653 2.42744 6.51835 2.06112C5.97016 1.6948 5.32566 1.49928 4.66634 1.49928C4.00703 1.49928 3.36252 1.6948 2.81434 2.06112C2.26615 2.42744 1.83891 2.94809 1.58665 3.55724C1.33439 4.16638 1.26843 4.83666 1.39713 5.48329C1.52583 6.12992 1.8434 6.72386 2.30968 7.18999L4.66634 9.54749L7.02301 7.18999Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M4.66699 4.83333V4.84166" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13.69 13.8567C14.1563 13.3905 14.4738 12.7966 14.6025 12.15C14.7312 11.5033 14.6653 10.8331 14.413 10.2239C14.1608 9.61476 13.7335 9.09411 13.1853 8.72779C12.6372 8.36148 11.9926 8.16595 11.3333 8.16595C10.674 8.16595 10.0295 8.36148 9.48133 8.72779C8.93314 9.09411 8.5059 9.61476 8.25364 10.2239C8.00138 10.8331 7.93543 11.5033 8.06412 12.15C8.19282 12.7966 8.51039 13.3905 8.97667 13.8567L11.3333 16.2142L13.69 13.8567Z" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M11.333 11.5V11.5083" stroke="white" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            سبد خرید
        </button>
        <div *ngIf="show" class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div class="ms-3 text-sm font-medium">
                با موفقیت به سبد خرید اضافه شد <a routerLink='/cart' class="font-semibold underline hover:no-underline">برو به سبد خرید </a>
            </div>
            <button (click)="close( )"  type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-3" aria-label="Close">
              <span class="sr-only">Close</span>
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
            </button>
          </div>
        <div>
            <p class="text-base leading-4 mt-7 text-gray-600 text-right" *ngFor="let des of select.descroption">{{des}}</p>
            <p class="text-base leading-4 mt-7 text-gray-600 text-right" >{{priceProduct}}:قیمت</p>
  
        </div>
        <div>
            <div class="border-t border-b py-4 mt-7 border-gray-200">
                <div class="flex justify-between items-center cursor-pointer">
                    <p class="text-base leading-4 text-gray-800 text-right">شرایط خرید و مرجوع کردن این محصول</p>
                    <button (click)="isToggle ? (isToggle = 0) : (isToggle = 1)" class="cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 rounded" role="button" aria-label="show or hide">
                        <svg [ngClass]="isToggle === 1 ? 'transform rotate-180' : ''" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 1L5 5L1 1" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div *ngIf="isToggle === 1" class="pt-4 text-base leading-normal pr-12 mt-4 text-gray-600">شما مسئول پرداخت هزینه های حمل و نقل برای بازگرداندن کالا خواهید بود. هزینه حمل و نقل غیر قابل استرداد است</div>
            </div>
        </div>
        <div>
            <div class="border-b py-4 border-gray-200">
                <div class="flex justify-between items-center cursor-pointer">
                    <p class="text-base leading-4 text-gray-800 text-right">تماس با تیم پشتیبانی</p>
                    <button (click)="isToggle ? (isToggle = 0) : (isToggle = 2)" class="cursor-pointer focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 rounded" role="button" aria-label="show or hide">
                        <svg [ngClass]="isToggle === 2 ? 'transform rotate-180' : ''" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 1L5 5L1 1" stroke="#4B5563" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div *ngIf="isToggle === 2" class="pt-4 text-base leading-normal pr-12 mt-4 text-gray-600">09191181813در صورت داشتن هرگونه سوال در رابطه با برگرداندن و مجوع کردن این مدل با تیم پشتیبانی تماس بگیرید</div>
            </div>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d18906.198858928678!2d50.97535799826997!3d35.8507097284408!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1719159592473!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


